/* --------------------------------------------------------------

   layout.css
   * Basic page layout

-------------------------------------------------------------- */

body {
   text-align: center;
   color: #646464;
}

#site-wrapper {
   text-align: left;
   width: 930px;
   margin: 0 auto;
}

/* Header --------------------------------------- */

nav ul {
   width: 918px;
   height: 37px;
   padding: 6px;
   margin: 0 0 30px 0;
   background: url(../images/top-menu-bg.gif) no-repeat left top; 
  /* We used a background image making the thick border and the thin one to keep the html structure simple */
}

nav ul li {
   float: left;
   height: 37px;
   border-right: 1px solid #ddd;
   list-style-type: none;
}

nav li a {
   display: block;
   float: left;
   height: 37px;
   font-weight: bold;
   line-height: 37px;
   text-decoration: none;
   color: #646464;
   padding: 0 20px;
}

nav ul li.to-right {
   float: right;
   border-left: 1px solid #ddd;
   border-right: none;
}

nav ul li a:hover { background: #fdfcf6; }

nav ul li a.active, #site-nav li a.active {
   background: #f0f0f0 url(../images/top-menu-item-bg.gif) repeat-x left top;
   color: #454545;
}

/* Logo  ---------------------------------------- */

#logo {
   margin: 15px 0 10px 5px;
   width: 225px;
   height: 28px;
}

#logo a {
   display: block;
   width: 225px;
   height: 28px;
}

#logo span { display: none; }

article {
   background: #eee;
   padding: 5px;
}

/* Main headline */
article h1 {
   color: #646464;
   /*font-size: 16px;
   line-height: 16px;
   font-weight: bold;*/
   margin: 20px 0 10px 0;
   padding: 0 0 5px 0;
   border-bottom: 1px solid #ddd;
}

#content-container {
   background-color: #fff;
   border: 1px solid #ddd;
   width: 918px;
}

#content {
   width: 880px;
   padding: 19px;
   padding-top: 0px; 
}

#sidebar {
   float: left;
   width: 179px;
   border-right: 1px solid #DDD;
}

#sidebar-nav {
   padding: 0;
   margin: 0;
   list-style: none;
}

#sidebar-nav li {
   border-bottom: 1px solid #DDD;
}

#sidebar-nav li a {
   display: block;
   color: #646464;
   background: #F6F6F6;
   text-decoration: none;
   height: 29px;
   line-height: 29px;
   padding: 0 19px;
   width: 141px;
}

#sidebar-nav a:hover {
   background: #fdfcf6;
}

#sidebar-nav a.active, #sidebar-nav a.active:hover {
   background: #f0f7fa;
	 color: #c66653;
}

#main-content {
   float: right;
   width: 700px;
   padding: 0 19px 0 0;
}

footer {
   margin: 10px 0 30px 0;
   font-size: 11px;
   line-height: 11px;
   color: #9B9B9B;
   padding: 0 0 0 5px;
}

footer a { color: #9B9B9B; }

footer a:hover { text-decoration: none; }

/* Forms  ---------------------------------------- */

fieldset {
   border: 1px solid #ddd;
   padding: 19px;
   margin: 0 0 20px 0;
   background: #fbfbfb;
}

fieldset p { margin: 0 0 14px 0; float: left; width: 100%;  }

fieldset label {
   display: block;
   width: 100%;
   margin: 0 0 7px 0;
   line-height: 12px;
}

.error_message {
   color: #8a1f11;
}

hr.clear {
   background: none;
	 border: 0;
	 clear: both;
	 display: block;
	 float: none;
	 font-size: 0;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
/* root element for tabs  */

#result-tabs {
   margin:0 !important;
   padding:0;
   height:30px;
   border-bottom:1px solid #DDD;
}

/* single tab */
#result-tabs li {
   float:left;
   padding:0;
   margin:0;
   list-style-type:none;
}

/* link inside the tab. uses a background image */
#result-tabs a {
   float:left;
   font-size:13px;
   display:block;
   padding:5px 30px;
   text-decoration:none;
   border:1px solid #DDD;
   border-bottom:0px;
   height:18px;
   background-color:#F6F6F6;
   color:#646464;
   margin-right:2px;
   position:relative;
   top:1px;
   outline:0;
   -moz-border-radius:4px 4px 0 0;
   -webkit-border-radius: 4px 4px 0 0;
}

#result-tabs a:hover {
   background-color:#fdfcf6;
   color:#333;
}

/* selected tab */
#result-tabs a.current {
   background-color:#f0f7fa;
   color:#c66653;
   cursor:default;
}

/* tab pane */
#result-panes div {
   display:none;
   border:1px solid #DDD;
   border-width:0 1px 1px 1px;
   min-height:150px;
   padding:15px 20px;
   margin-bottom: 10px;
}
