/* 
 * Sliding Tabs - jQuery Plugin
 * Copyright 2010, Christian André
 *
------------------------------------------------------------------------------------- */

.sliding-tabs {	
	 position:relative;	
	 z-index:1000;
	 float:left;
	 clear:both;
}

/* Control buttons
------------------------------------------------------------------------------------- */
.sliding-tabs a.prev, 
      .sliding-tabs a.next {
	       display:none;
	       float:left;
	       height:38px;
	       width:39px;
	       border:1px solid #d4d4d4;
	       border-bottom:0 none;
	       background:#fff url(../images/btn_arrows.gif) no-repeat;	
      }

.sliding-tabs a.prev {
	 border-right:0 none;	
	 background-position:13px 13px;
	 border-top-left-radius:4px;
	 -moz-border-radius-topleft:4px;
	 -webkit-border-top-left-radius:4px;
}

.sliding-tabs a.prev:hover {	
	 background-position:-50px 13px;
	 background-color:#f5f5f5;
}

.sliding-tabs a.next {
	 background-position:14px -14px;
	 border-top-right-radius:4px;
	 -moz-border-radius-topright:4px;
	 -webkit-border-top-right-radius:4px;
}

.sliding-tabs a.next:hover {	
	 background-position:-49px -14px;
	 background-color:#f5f5f5;
}

.sliding-tabs a.prev.disabled,
      .sliding-tabs a.next.disabled {
	       cursor:default;
	       background-color:#f7f7f7;
      }

.sliding-tabs a.prev.disabled {
	 background-position:-113px 13px;
}

.sliding-tabs a.next.disabled {
	 background-position:-112px -14px;
}

/* Tabs
------------------------------------------------------------------------------------- */
.sliding-tabs .tabs-container {
	 position:relative !important; /* The tabs position will be calculated from the ul.tabs first parent element with position:relative */
	 z-index:100;
	 float:left;
	 height:40px;
	 margin-bottom:-1px;
	 border-left:1px solid #d4d4d4;	
	 overflow:hidden;	
}

.sliding-tabs .tabs-container ul.tabs {
	 width:10000px; /* Set to an arbitrary high value */
	 height:40px;
	 margin:0;
   padding: 0;
}

.sliding-tabs .tabs-container ul.tabs li {
	 float:left;
   list-style: none;
   line-height: 38px;
}

.sliding-tabs ul.tabs li a {
	 display:block;
	 padding:0 20px;
	 font-size:11px;
	 color:#6a6a6a;
	 font-weight:bold;
	 border-top:1px solid #d4d4d4;
	 border-right:1px solid #d4d4d4;
	 border-bottom:1px solid #d4d4d4;
	 background:#fff url(../images/h_tab_bg.jpg) repeat-x 0px 0px;
   text-decoration: none;
}

.sliding-tabs ul.tabs a:hover {
	 color:#333;
}

.sliding-tabs ul.tabs a.active {
	 color:#1ca5ec;
	 border-bottom-color:#fff;
	 background:#fff;
}

/* Content
------------------------------------------------------------------------------------- */
.sliding-tabs div.tabs-content {
	 position:relative;
	 z-index:5;
	 float:left;
	 border:1px solid #d4d4d4;
	 background-color:#fff;
	 overflow:auto;
}

.sliding-tabs .tabs-view-container {
	 position:relative;
   height: inherit;
}
.tabs-view-container .tab-view {
   padding: 20px;
}
