<h1>Sign Up!</h1>

[% UNLESS signupForm.posted && signupForm.is_valid %]
    [% signupForm.render %]
[% ELSE %]
    <p class="info">Check you mailbox for confimation mail to activate your account.</p>
[% END %]

