<div id="treex-run">
  <div class="page-header">
    <h1>Run Treex</h1>
  </div>
  <div ng-show="error" id="query-error" class="alert alert-error">
    <h4>Oh Snap!</h4>
    {{error}}
  </div>
  <form name="form" id="treex-run-form">
    <h3><i class="iconic-check" ng-show="language" style="color: #51A351"> </i>Language</h3>
    <select bs-select2="languages" data-placeholder="Select an Language" data-allow-clear="true" style="width:350px" required ng-model="language" ng-options="lang.label group by lang.group for lang in languages">
      <option value=""></option>
    </select>
    <h3><i class="iconic-check" ng-show="scenario.scenario" style="color: #51A351"> </i>Scenario</h3>
    <div class="scenario-btns">
      <button type="button" class="btn btn-primary" modal-class="modal-big" ng-controller="ScenarioPickCntl" bs-modal="'partials/scenario/picker.html'"><i class="icon-white icon-list-alt"></i> Pick scenario</button>
      <span class="muted"> or </span>
      <button type="button" class="btn" ng-class="{false: 'btn-inverse', true: ''}[scenario.compose]" ng-model="scenario.compose" bs-button><i ng-class="{false: 'icon-white', true: ''}[scenario.compose]" class="icon-pencil"></i> Compose your own</button>
    </div>
    <h4 ng-show="scenario.name">{{scenario.name}}</h4>
    <p ng-show="scenario.description" class="well well-small" ng-bind-html-unsafe="scenario.description | noHTML | newlines"></p>
    <div class="form-controls" ng-show="scenario.compose">
      <input type="text" id="scenario-name" placeholder="Enter Scenario Name" name="scenario-name" ng-model="scenario.name" />
      <span class="help-block"><span class="label label-info">Optional</span> Scenario name is optional but it can help you navigate the results.</span>
      <div ace="perl" ng-model="scenario.scenario">
        <input type="hidden" name="scenario" required ng-model="scenario.scenario" />
      </div>
    </div>
    <h3><i class="iconic-check" ng-show="input" style="color: #51A351"> </i>Input</h3>
    <div class="btn-toolbar">
      <div class="btn-group">
        <button type="button" class="btn" modal-class="modal-large" ng-controller="InputUrlCntl" bs-modal="'partials/input/url.html'"><i class="icon-globe"></i> Load from URL</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn"><i class="icon-file"></i> Insert sample file</button>
      </div>
    </div>
    <div id="input-select">
      <textarea name="input" id="input" ng-model="input" class="input-block-level" required="required" rows="10" cols="10"></textarea>
    </div>
    <button type="button" ng-click="submit()" class="btn btn-primary btn-large" ng-disabled="form.$invalid">Run this Treex scenario</button>
  </form>
</div>
