<div class="hero-unit">
  <div class="center">
    <img src="images/treex-hero.png" />
  </div>
  <div class="center"><h1>Highly Modular NLP Framework Online</h1></div>
  <div class="center">
    <a class="btn btn-primary btn-large" href="/run">Try Now!</a>
    <span class="spacer"></span>
    <a class="btn btn-info btn-large" href="http://ufal.mff.cuni.cz/treex/">Learn about Treex &raquo;</a>
  </div>
</div>
<div class="row-fluid first">
  <div class="span4">
    <h3>What is Treex?</h3>
    <p>
      Treex (formerly TectoMT) is a highly
      modular <abbr title="Natural Language Processing">NLP</abbr>
      framework implemented in <a href="http://www.perl.org/">Perl</a>
      programming language under Linux.
    </p>
    <p>
      It is primarily aimed at <strong>Machine Translation</strong>,
      making use of the ideas and technology created during
      the <a href="http://ufal.mff.cuni.cz/pdt2.5/">Prague Dependency
      Treebank</a> project. At the same time, it is also hoped to
      significantly facilitate and accelerate development of software
      solutions of many <strong>other <abbr title="Natural Language Processing">NLP</abbr> tasks</strong>, especially due to
      re-usability of the numerous integrated processing modules
      (called blocks), which are equipped with uniform object-oriented
      interfaces.
    </p>
  </div>
  <div class="span4">
    <h3>Why Online?</h3>
    <p>
      We believe Treex is an amazing <abbr title="Natural Language Processing">NLP</abbr> framework and we have had great
      experience using it. Bringing this experience online is just a
      natural step in Treex development.
    </p>
    <p>
      Although this online version will probably never quite replace
      Treex instalation in your computer. It might serve very well for
      demonstration or teaching purposes.
    </p>
  </div>
  <div class="span4">
    <h3>Getting Started</h3>
    <p>
      Take our simple tour to quickly guide you through some
      of the most important features of this application.
    </p>
    <p><a class="btn btn-success"><i class="icon-white icon-info-sign"></i> Take Tour!</a></p>
    <p>
      In order to fully understand what Treex can do start
      with <a href="http://ufal.mff.cuni.cz/treex/">Treex
      tutorial</a>. You may also want to consider
      reading <a href="http://search.cpan.org/perldoc?Treex">documentation</a>
      on <abbr title="The Comprehensive Perl Archive Network">CPAN</abbr>.
    </p>
  </div>
</div>
