<div id="scenario-detail">
  <div class="page-header">
    <h1>{{scenario.name || 'Scenario'}}</h1>
  </div>
  <ng-switch on="status">
    <div ng-switch-when="loading" tw-loader></div>
    <div ng-switch-when="scenario">
      <p class="language-tags">
        <strong>Language tags: </strong>
        <span ng-repeat="language in scenario.languages" class="label">{{languagesMap[language]}}</span>
      </p>
      <div tw-if="scenario.sample">
        <ul class="nav nav-tabs">
          <li><a bs-show-tab bs-active-tab href="#description" data-toggle="tab">Description</a></li>
          <li><a bs-show-tab href="#sample" data-toggle="tab">Sample</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="description">
            <p ng-bind-html-unsafe="scenario.description | noHtml | newlines" class="well"></p>
          </div>
          <div class="tab-pane" id="sample">
            <p ng-bind-html-unsafe="scenario.sample | noHtml | newlines" class="well"></p>
          </div>
        </div>
      </div>
      <p tw-if="!scenario.sample" ng-bind-html-unsafe="scenario.description | noHtml | newlines" class="well"></p>

      <div ace-highlight="perl" class="scenario-code" ng-model="scenario.scenario">
      </div>
      <div class="row-fluid">
        <button class="btn btn-primary" ng-click="run()">Run this scenario</button>
        <a ng-show="scenario.isEditable()" class="btn" ng-href="/scenario/{{scenario.id}}/edit">Edit</a>
        <button ng-show="scenario.isEditable()" class="act act-danger pull-right" bs-popover="'ask-delete'" data-title="Scenario Delete" data-unique="1" data-placement="left">Delete scenario</button>
      </div>
    </div>
    <div class="alert alert-error" ng-switch-when="not-found">
      <h4>Scenario not found</h4>
      <p>Scenario you are looking for doesn't exists or you are not allowed to access it.</p>
    </div>
  </ng-switch>
  <script type="text/ng-template" id="ask-delete">
    <p>Do you really want to delete this scenario?</p>
    <button type="button" class="btn btn-danger" ng-click="remove();hide()">Delete</button>
    <button class="btn" ng-click="hide()">Close</button>
  </script>
</div>
