<div id="scenario-list">
  <div class="page-header">
    <h1>Browse Scenarios</h1>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-inverse" href="/scenario"><i class="icon-white icon-pencil"></i> Compose new scenario</a>
    </div>
  </div>
  <div ng-show="status == 'loading'" tw-loader></div>
  <div ng-show="status == 'results'" style="margin-top:40px">
    <form class="form-inline">
      <label for="language-filter">Filter by language:</label>
      <select bs-select2="languages" id="language-filter" data-allow-clear="true" data-placeholder="Select an Language" style="width:250px" ng-model="language">
        <option value=""></option>
        <option ng-repeat="item in languages" value="{{item.id}}">
          {{item.name}}
        </option>
      </select>
    </form>
    <table tw-table="update" pager="pager"  class="table table-striped">
      <tr ng-repeat="scenario in scenarios" bs-rowlink="/scenario/{{scenario.id}}">
        <td class="nolink span1">
          <button type="button" rel="tooltip" ng-click="run(scenario)" bs-tooltip="'Run'" class="btn btn-primary btn-mini"><i class="icon-white icon-forward"></i></button>
        </td>
        <td sortable="public" title="Access" class="span1">
          <span tw-if="scenario.public" class="label label-success">Public</span>
          <span tw-if="!scenario.public" class="label label-inverse">Private</span>
        </td>
        <td sortable="name" title="Name">
          {{scenario.name}}
        </td>
        <td title="Languages">
          <span ng-repeat="language in scenario.languages">{{languagesMap[language]}}</span>
        </td>
        <td title="Description" ng-bind-html-unsafe="scenario.description | noHtml | newlines"></td>
        <td sortable="username" title="User">{{scenario.user.name}}</td>
        <td class="nolink span2" title="">
          <button type="button" ng-click="download(scenario)" bs-tooltip="'Download'" class="btn btn-mini"><i class="icon-download-alt"></i></button>
          <span ng-show="scenario.editable">
            <a ng-href="/scenario/{{scenario.id}}/edit" bs-tooltip="'Edit'" class="btn btn-mini"><i class="icon-edit"></i></a>
            <button type="button" bs-popover="'ask-delete'" data-title="Scenario Delete" data-unique="1" data-placement="left" class="btn btn-mini pull-right"><i class="icon-remove"></i></button>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="status == 'empty'" class="alert alert-info">
    <h4>No Scenarios</h4>
    <p>There are no scenarios to browse.</p>
  </div>
  <script type="text/ng-template" id="ask-delete">
    <p>Do you really want to delete this scenario?</p>
    <button type="button" class="btn btn-danger" ng-click="scenarios.$remove(scenario);hide()">Delete</button>
    <button class="btn" ng-click="hide()">Close</button>
  </script>
</div>
