<!DOCTYPE html>
<html xml:lang="en-US">
<head>
  <title>[% template.title or title or c.config.name %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="[% c.uri_for('/static/css/reset.css') %]" type="text/css" media="screen" />
  <link rel="stylesheet" href="[% c.uri_for('/static/css/text.css') %]" type="text/css" media="screen" />
  <link rel="stylesheet" href="[% c.uri_for('/static/css/layout.css') %]" type="text/css" media="screen" />
  <link rel="stylesheet" href="[% c.uri_for('/static/css/formalize.css') %]" type="text/css" media="screen" />
  <script src="[% c.uri_for('/static/js/jquery.js') %]"></script>
  <script src="[% c.uri_for('/static/js/jquery.formalize.js') %]"></script>
  <script src="[% c.uri_for('/static/js/jquery.tools.min.js') %]"></script>
</head>
<body>
  <div id="site-wrapper">
    <header>
      <h1 id="logo"><span>Treex Web</span></h1>
      <nav>
        <ul>
          [%- FOREACH item IN menu  -%]
          <li[% IF item.active %] class="active"[% END %]>
            <a href="[% item.url %]">[% item.name | html %]</a>
          </li>
          [%- END -%]
          [% UNLESS c.user_exists %]
          <li class="to-right"><a href="[% c.uri_for(c.controller('Auth').action_for('login')) %]">Login</a></li>
          [% ELSE %]
          <li class="to-right"><a href="[% c.uri_for(c.controller('Auth').action_for('logout')) %]">Logout</a></li>
          [% END %]
        </ul>
      </nav>
    </header>
    <article>
      <div id="content-container">
        <div id="flash-messages">
          [%- IF status_msg || c.flash.status_msg -%]
          <p class="success">[% status_msg || c.flash.status_msg %]</p>
          [%- END -%]
          [%- IF error_msg || c.flash.error_msg -%]
          <p class="error">[% error_msg || c.flash.error_msg %]</p>
          [%- END -%]
          [% c.flash.status_msg = undef %]
          [% c.flash.error_msg = undef %]
        </div> 
        [% IF template.sidebar %]
        [% content %]
        [% ELSE %]
        <div id="content">
          [% content %]
        </div>
        [% END %]
      </div>
    </article>
    <footer>
      <p>[%-c.config.name-%] (version [%treex_version%])</p>
    </footer>
  </div>
</body>
</html>
