[% IF queryForm.posted %]
[% META title='Compose new' %]
[% ELSE %]
[% END %]

<h1>Try out Treex now!</h1>

[% PROCESS query/form.tt form=queryForm %]

[% IF result %]
<pre>
[% result | html %]
</pre>
[% END %]
