<ul id="sidebar-nav">
  <li><a href="[% site.url.scenarios %]">
      <span class="icon magnifier">
        Browse scenarios
      </span>
  </a></li>
  <li><a href="[% site.url.add_scenario %]">
      <span class="icon script--plus">
        Add new scenario  
      </span>
  </a></li>
</ul>

