<ul id="sidebar-nav">
  [% IF c.user_exists %]
  <li>
    <a href="[% site.url.my_scenarios %]">
      <span class="icon script">
        My scenarios
      </span>
    </a>
  </li>
  [% END %]
  <li><a href="[% site.url.scenarios %]">
      <span class="icon magnifier">
        Browse scenarios
      </span>
  </a></li>
  <li><a href="[% site.url.add_scenario %]">
      <span class="icon script--plus">
        Add new scenario
      </span>
  </a></li>
</ul>

