<div id="scenario-list">
  <div class="page-header">
    <h1>{{scenario.name || 'Add New Scenario'}}</h1>
  </div>
  <form name="form" id="scenario-form">
    <div class="control-group">
      <input type="text" name="name" required ng-model="scenario.name" placeholder="Scenario name" />
      <span class="help-block">
      Try use a very descriptive name for your scenario e.g.: "English
      analysis using XY parser"
      </span>
    </div>
    <div class="control-group">
      <select bs-select2="languages" multiple data-placeholder="Select languages" style="width:350px" ng-model="scenario.languages">
        <optgroup ng-repeat="item in languages" label="{{item.group}}">
          <option ng-repeat="option in item.options" value="{{option.value}}">{{option.label}}</option>
        </optgroup>
      </select>
      <span class="help-block">
      Select languages which your scenario can process. Leave empty if
      the scenario is language independent.
      </span>
    </div>
    <div class="control-group">
      <label for="scenario-public" class="checkbox">
      <input type="checkbox" name="public" id="scenario-public" ng-model="scenario.public"/> Should this scenario be public?
      </label>
    </div>
    <div class="control-group">
      <h3>Scenario Editor</h3>
      <div ace="perl" ng-model="scenario.scenario">
        <textarea name="scenario" id="scenario-text" rows="12" required ng-model="scenario.scenario"></textarea>
      </div>
    </div>
    <div class="control-group">
      <textarea name="description" ng-model="scenario.description" class="editor" placeholder="Scenario description" required="required" rows="10" cols="10"></textarea>
      <span class="help-block">
        <span class="label label-info">Required Field!</span> Describe
      your scenario in detail and try to also mention some interesting
      examples of use.
      </span>
    </div>
    <div>
      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="saveOrUpdate()" type="button">Save scenario</button>
      <a class="btn" href="/scenarios">Cancel</a>
    </div>
  </form>
</div>
