body {
    padding-bottom: 40px;
}

.center {
    text-align: center;
}

.hero-unit  {
    margin-top: 20px;
}

.error-page {
    margin-top: 20px;
    padding: 35px
}

.hero-unit h1 {
    font-size: 30px;
    font-weight: 300;
    padding: 0.5em 0;
}
.spacer {
    display: inline-block;
    width: 6em;
}

#scenario-editor {
    height: 300px;
}

.result-tabs {
    height: 385px;
}

.nav {
    margin-bottom: 0px;
}

#treexview .node {
    cursor: pointer;
}

.treeview-gfx {
    overflow: auto;
}

.highlight {
    background-color: yellow;
}

.mouse-highlight:hover {
    background-color: #ffa;
    cursor: pointer;
}

.language-tags span {
    margin: 0 3px;
}

.ace-editor {
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#treexview, .ace-editor, .scenario-btns {
    margin-bottom: 10px;
}

.control-group .select2-container {
    margin-bottom: 10px;
}

.ace-editor {
    height: 350px;
    width: 100%;
}

.form-controls, .scenario-picks {
    padding-top: 10px;
}

.long-desc {
    font-size: 85%;
}

.modal-big {
    width: 900px;
    margin-left: -450px;
}

.modal-large {
    width: 700px;
    margin-left: -350px;
}

@media (max-width: 767px) {
    .modal-big {
        width: auto;
        margin-left: auto;
    }
}


.table th.sortable {
    cursor:pointer;
}
.table th.sortable div {
    padding-right: 18px;
    position: relative;
}
.table th.sortable div:after {
    content:"";
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#000 transparent;
    visibility:hidden;
    right: 8px;
    top: 50%;
    position: absolute;
    margin-top: -2px;
}

.table + .pagination {
    margin-top: 0;
    display: block;
}
.table .sortable.sort-up, .table .sortable.sort-down {
    background-color:rgba(141, 192, 219, 0.25);
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}
.table .sortable div:hover:after{
    visibility:visible;
}
.table .sortable.sort-down div:after,.table .sortable.sort-down div:hover:after{
    visibility:visible;
    filter:alpha(opacity=60);
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    opacity:0.6;
}
.table .sortable.sort-up div:after{
    border-bottom:none;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #000;
    visibility:visible;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    filter:alpha(opacity=60);
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    opacity:0.6;
}

/* 404 page */
.container-404 {
    width: 500px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 40px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.container-404 h1 {
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
}

.container-404 p {
    margin: 1em 0;
}


.container-404 h1 span {
    color: #bbb;
}

.container-404 .container {
    width: 380px;
    margin: 0 auto;
}
