body {
    padding-bottom: 40px;
}

.center {
    text-align: center;
}

.hero-unit {
    margin-top: 20px;
}

.hero-unit h1 {
    font-size: 30px;
    font-weight: 300;
    padding: 0.5em 0;
}
.spacer {
    display: inline-block;
    width: 6em;
}

#scenario-editor {
    height: 300px;
}

.nav {
    margin-bottom: 0px;
}

#gfx-holder {
    overflow: auto;
}

#treexview, .chosen, .ace-editor {
    margin-bottom: 10px;
}

.form-controls {
    padding-top: 10px;
}

#scenario-name-wrap {
    margin-top: 10px;
}

.modal-big {
    width: 900px;
    margin-left: -450px;
}

@media (max-width: 767px) {
    .modal-big {
        width: auto;
        margin-left: auto;
    }
}
